USE [master]
GO
/****** Object:  Database [SWP391_SE1629]    Script Date: 27/02/2023 9:29:12 PM ******/
CREATE DATABASE [SWP391_SE1629]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SWP391_SE1629', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SWP391_SE1629.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SWP391_SE1629_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SWP391_SE1629_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SWP391_SE1629].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SWP391_SE1629]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 27/02/2023 9:29:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usename] [nvarchar](50) NULL,
	[password] [nvarchar](100) NULL,
	[email] [nvarchar](100) NULL,
	[role] [int] NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Debit]    Script Date: 27/02/2023 9:29:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Debit](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[address] [nvarchar](100) NULL,
	[phone] [int] NULL,
	[email] [nvarchar](100) NULL,
	[total] [int] NOT NULL,
	[crday] [datetime] NOT NULL,
	[uday] [datetime] NOT NULL,
	[aid] [int] NULL,
 CONSTRAINT [PK_Debit] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([id], [usename], [password], [email], [role]) VALUES (1, N'bao', N'123456', N'bao@gmail.com', 1)
INSERT [dbo].[Accounts] ([id], [usename], [password], [email], [role]) VALUES (2, N'manh', N'123', N'manh@gmail.com', 1)
INSERT [dbo].[Accounts] ([id], [usename], [password], [email], [role]) VALUES (3, N'son', N'123', N'son@gmail.com', 2)
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Debit] ON 

INSERT [dbo].[Debit] ([id], [name], [address], [phone], [email], [total], [crday], [uday], [aid]) VALUES (1, N'Manh', N'Ha Noi', 12345678, N'manh@gmail.com', 0, CAST(N'2023-02-11T13:23:44.000' AS DateTime), CAST(N'2023-02-11T13:23:44.000' AS DateTime), 1)
INSERT [dbo].[Debit] ([id], [name], [address], [phone], [email], [total], [crday], [uday], [aid]) VALUES (2, N'Duy', N'Ha Noi', 12345278, N'duy@gmail.com', 0, CAST(N'2023-02-11T13:23:44.000' AS DateTime), CAST(N'2023-02-11T13:23:44.000' AS DateTime), 1)
INSERT [dbo].[Debit] ([id], [name], [address], [phone], [email], [total], [crday], [uday], [aid]) VALUES (3, N'Ha', N'Vinh', 12145678, N'ha@gmail.com', 0, CAST(N'2023-02-11T13:23:44.000' AS DateTime), CAST(N'2023-02-11T13:23:44.000' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[Debit] OFF
GO
ALTER TABLE [dbo].[Debit]  WITH CHECK ADD  CONSTRAINT [FK_Debit_Accounts] FOREIGN KEY([aid])
REFERENCES [dbo].[Accounts] ([id])
GO
ALTER TABLE [dbo].[Debit] CHECK CONSTRAINT [FK_Debit_Accounts]
GO
USE [master]
GO
